@import "tailwindcss";
@plugin "daisyui";
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.home {
  background-image: url("../../public/homeBannerBeer.jpg");
  background-size: cover;
}

.login {
  background-image: url("../../public/banner.jpeg");
  background-size: cover;
}
.sponser {
  background-image: url("../../public/parallax1.jpg");
  background-size: cover;
}

.beer {
  background-image: url("../../public/banner3.jpeg");
  background-size: cover;
}

#pricing {
  background-image: url("../../public/parallax2.jpg");
  background-size: cover;
  background-attachment: fixed;
}
